/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h2 {
    text-align: center;
    color: #221f1f;
    margin-bottom: 20px;
}

main {
    max-width: 600px;
    margin: 80px auto; /* Adjust the top margin as needed */
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body{
    background-color: #f8f9fa;
}

form section {
    margin-bottom: 20px;
}

form label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

form input[type="text"],
form input[type="number"],
form input[type="tel"],
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="tel"]:focus,
form select:focus {
    border-color: #ff4444;
    outline: none;
}

div.button {
    text-align: center;
}

div.button button {
    display: inline-block;
    background-color: #ff4444;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

div.button button:hover {
    background-color: #ff6666;
    transform: scale(1.05);
}

div.button button:active {
    transform: scale(0.95);
}

#clear {
    clear: both;
}

footer {
    margin-top: 90px; 
    padding: 0px;
}

